html
{
	background-color:  #ECECEC;
	font-family: Arial;
}
#wrapper
{
	width: 900px;
	margin: 0 auto;
	max-width: 100%;
	margin-top: 2%;
	text-align: center;
	font-family: Verdana;
	font-size: 14pt;
	font-weight: bold;
	color: black;
}
#wrapper p
{
	font-family: Verdana;
	font-size: 14pt;
	font-weight: normal;
	margin: 0 auto;
	margin-top: 15px;
}
#wrapper p.myclass
{
	font-family: Verdana;
	font-size: 14pt;
	font-weight: normal;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}
#wrapper table
{
	font-family: Verdana;
	font-size: 14pt;
	color: black;
	white-space: nowrap;
}
#wrapper img
{
	width: 250px;
	margin: 0 auto;
	max-width: 100%;
}
#wrapper div
{
	text-align: left;
	width: 800px;
	margin: 0 auto;
	max-width: 100%;
	margin-top: 20px;
}
#wrapper a
{
	text-decoration: none;
	color: #C0392B;
	font-family: Arial black;
}
#info
{
	margin: 0 auto;
}