html
{
	background-color:  E1E1E1;
	font-family: Arial;
}
#wrapper
{
	width: 900px;
	margin: 0 auto;
	max-width: 100%;
	margin-top: 2%;
	text-align: center;
	font-family: Verdana;
	font-size: 14pt;
	font-weight: bold;
	color: #4B0082;
}
#wrapper table
{
	font-family: Verdana;
	font-size: 14pt;
	font-weight: bold;
	color: black;	
}
#wrapper img
{
	width: 250px;
	margin: 0 auto;
	max-width: 100%;
}
#wrapper div
{
	text-align: left;
	#background-color:  F5F5F5;
	width: 800px;
	margin: 0 auto;
	margin-top: 3%;
	max-width: 100%;
}
#wrapper a
{
	text-decoration: none;
	color: #C0392B;
	font-family: Arial black;
}